body {
    background-color: #F8F9FA;
}

main {
    margin-top: 2rem;
}

header {

}

#home-btn {
    box-shadow: 0 8px 6px -6px rgb(123, 123, 123)
}

.home-icon {
    max-width: 36px;
    max-height: fit-content;

}

.navbar-header {
    background-color: #70a2ed;
    height: 50px;
}

#view-emp-btn {
    color: #70a2ed;
    box-shadow: 0 8px 6px -6px rgb(123, 123, 123)

}

#view-emp-btn:hover {
    color: black;
    background-color: white;
}


.current-user {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 5px;
    background-color: #F8F9FA;
    width: fit-content;
    height: 40px;
    box-shadow: 0 8px 6px -6px rgb(123, 123, 123)

}

.log-out {
    color: #70a2ed;
    box-shadow: 0 8px 6px -6px rgb(123, 123, 123)
}

.log-out:hover {
    background-color: #DD3444;
    border-color: #dd3444;
    color: white;
}

.spacer {
    height: 20vh;
}

.title {
    margin-top: 2rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #EBECF0;
}

.view, .back-btn {
    background-color: #70a2ed;
    border: none;
}

.table-headers {
    background-color: #70a2ed;
    color: white;
}


.menu-item:hover {
    cursor: pointer;
    background-color:rgba(0,0,0,0.1);
    color: white;
    background-color: #70a2ed;
    transform: scale(1.02);
    box-shadow: 0 8px 6px -6px black

}

.menu-item {
    background-color: #70a2ed;
    color: white;
    border-radius: 15px;
    padding: 2rem;
    transition: 0.2s;
    box-shadow: 0 8px 6px -6px rgb(123, 123, 123)

}

.menu-icon {
    color: white;
}


form {
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem;
    background-color: #EBECF0;
}

.section-styling {
    border-radius: 15px;
    margin: 0 10px;
    padding: 10px;
    background-color: #F8F9FA;
}

.section-styling-head {
    border-radius: 15px;
    padding: 10px 0;
    background-color: #F8F9FA;
}

.role-section {
    font-weight: 600;
    color: black;
    border-radius: 15px;
    height: 75px;
    background-color: #EBECF0;
}

.employee-data {
    font-weight: 600;
    font-size: 20px;
}

.employee-data-role {
    font-weight: 600;
    font-size: 30px;
}

.employee-image {
    border-radius: 15px;
    width: 20vw;
    height: auto;
    box-shadow: 0 8px 6px -6px black
}