main {
    margin-top: 2rem;
}

.home-icon {
    max-width: 36px;
    max-height: fit-content;
}

.navbar-header {
    background-color: #70a2ed;
    height: 50px;
}

.current-user {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 5px;
    background-color: aliceblue;
    width: fit-content;
    height: 40px;
}

.log-out:hover {
    background-color: #b70012;
    border-color: #dd3444;
}

.spacer {
    height: 30vh;
}
.title {
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #F2F2F2;
}
